@model IEnumerable<artshop.lppa.equipo._3.DATA.Model.productos>
@{
    ViewBag.Title = "Index";
}

<div class="post">
    <h2 class="title"><a href="#"> Lista de obras</a></h2>
    <p class="byline">Hay un total de @Enumerable.Count(Model) obras</p>
    <div class="entry">
        <p>

        </p>
    </div>

    <div>
        <h2>Obras de arte</h2>

        

        <ul>
            @foreach (var item in Model)
            {
                <li>@item.nombre</li>
            }
        </ul>
    </div>

</div>