@{
    ViewBag.Title = "Principal";
}
<div class="post">
    <h2 class="title"><a href="#">ArtShop - Deco&Design</a></h2>
    <p class="byline">Federico Marchini - Nicolás Macchioli</p>
    <div class="entry">
        <p>
           ArtShop colabora estrechamente con otras galerías de arte, como DgArt Gallery y Galería Áurea de Madrid y Antonella Viazzi Gallery de Uruguay. Se dedica a exhibir arte contemporáneo de artistas emergentes que están abriendo nuevos caminos al combinar el lenguaje y los códigos de la alta cultura con las subculturas sociales. Sin atenerse a las convenciones ni a las definiciones, la galería presenta a artistas innovadores que trabajan en una amplia variedad de soportes cuyas obras se caracterizan en gran medida por un fuerte lenguaje visual gráfico y abstracto. Con un nuevo enfoque basado en proyectos, el objetivo de la galería es desafiar las percepciones del arte arraigado en la cultura callejera y empujarlo hacia nuevos medios y territorios.
        </p>
    </div>
</div>